table{
    border:1px spoid black;
    border-collapse: collapse;
}
thead{
    text-align: left;
    background-color:#c0504e;
}
.a{
    text-align: right;
}
#waist{
    background-color: #da9695;
}
#chest{
    background-color:#f1dcdb ;
}
#sleeve{
    background-color: #d9d9d9;
}


